[defaults]
inventory = ./inventory.ini
remote_user = ubuntu
host_key_checking = False

[ssh_connection]
ssh_args = -o ForwardAgent=yes -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ProxyJump=ubuntu@111.88.250.91
